.e17_2 { 
	overflow:hidden;
}
.e17_2 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:1920px;
	height:1737px;
	position:absolute;
}
.e17_3 { 
	width:1920px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_4 { 
	background-color:rgba(0, 0, 0, 1);
	width:1920px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_5 { 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	width:355px;
	height:16px;
	position:absolute;
	left:436px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e17_6 { 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	width:107px;
	height:16px;
	position:absolute;
	left:1408px;
	top:14px;
	font-family:PT Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e17_7 { 
	width:16px;
	height:16px;
	position:absolute;
	left:405px;
	top:14px;
}
.e17_8 { 
	background:url("../images/eva_phone-outline\ \(1\).png");
	width:13.360003471374512px;
	height:13.333528518676758px;
	position:absolute;
	left:1.3333333730697632px;
	top:1.333219051361084px;
}
.e17_9 { 
	width:14px;
	height:14px;
	position:absolute;
	left:1384px;
	top:15px;
}
.e17_10 { 
	background-color:url("../images/ic_sharp-log-in\ \(1\).png");
	width:7.5833330154418945px;
	height:11.666666984558105px;
	position:absolute;
	left:4.0833330154418945px;
	top:1.1666667461395264px;
}
.e17_11 { 
	background-color:url("../images/ic_sharp-log-in\ \(1\).png");
	width:7.875px;
	height:5.8333330154418945px;
	position:absolute;
	left:1.75px;
	top:4.0833330154418945px;
}
.e17_12 { 
	width:1920px;
	height:80px;
	position:absolute;
	left:0px;
	top:44px;
}
.e17_13 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:1920px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_14 { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:49px;
	position:absolute;
	left:405px;
	top:15px;
	font-family:Post No Bills Jaffna;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_15 { 
	width:96px;
	height:18px;
	position:absolute;
	left:998px;
	top:31px;
}
.e17_17 { 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	width:96px;
	height:18px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_18 { 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	width:119px;
	height:18px;
	position:absolute;
	left:1134px;
	top:31px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_19 { 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	height:18px;
	position:absolute;
	left:1293px;
	top:31px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_20 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1431px;
	top:29px;
}
.e17_21 { 
	background-color:url("../images/bx_bx-cart\ \(1\).png");
	width:18.333816528320312px;
	height:12.833335876464844px;
	position:absolute;
	left:1.8333333730697632px;
	top:2.749995708465576px;
}
.e17_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.75px;
	height:2.75px;
	position:absolute;
	left:8.25px;
	top:16.5px;
}
.e17_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.7500009536743164px;
	height:2.75px;
	position:absolute;
	left:14.666666984558105px;
	top:16.5px;
}
.e17_24 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1493px;
	top:29px;
}
.e17_25 { 
	background-color:url("../images/gridicons_search\ \(1\).png");
	width:16.501544952392578px;
	height:16.501544952392578px;
	position:absolute;
	left:2.7484562397003174px;
	top:2.748469591140747px;
}
.e17_26 { 
	width:1920px;
	height:810px;
	position:absolute;
	left:0px;
	top:124px;
}
.e17_27 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 0.5);
	width:1920px;
	height:810px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_28 { 
	width:320px;
	height:320px;
	position:absolute;
	left:800px;
	top:160px;
}
.e17_29 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.e17_29 { 
	width:320px;
	height:320px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_30 { 
	width:185px;
	height:133px;
	position:absolute;
	left:67px;
	top:93px;
}
.e17_31 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Post No Bills Jaffna;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e17_32 { 
	color:rgba(255, 255, 255, 1);
	width:180px;
	height:44px;
	position:absolute;
	left:2px;
	top:89px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e17_33 { 
	transform: rotate(-0.000005008956130975318deg);
	width:179px;
	height:0px;
	position:absolute;
	left:3px;
	top:82px;
}
.e17_33 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e17_34 { 
	color:rgba(255, 255, 255, 1);
	width:730px;
	height:96px;
	position:absolute;
	left:595px;
	top:560px;
	font-family:PT Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e17_35 { 
	width:880px;
	height:730px;
	position:absolute;
	left:1040px;
	top:934px;
}
.e17_36 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 0.5);
	width:880px;
	height:730px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_37 { 
	width:376px;
	height:146px;
	position:absolute;
	left:252px;
	top:484px;
}
.e17_38 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e17_39 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_39 { 
	width:120px;
	height:0px;
	position:absolute;
	left:129px;
	top:69px;
}
.e17_40 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_40 { 
	width:170px;
	height:47px;
	position:absolute;
	left:119px;
	top:99px;
}
.e17_41 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:23px;
	position:absolute;
	left:28px;
	top:12px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:10;
}
.e17_42 { 
	width:1040px;
	height:730px;
	position:absolute;
	left:0px;
	top:934px;
}
.e17_43 { 
	background-color:rgba(0, 0, 0, 1);
	width:1040px;
	height:730px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_44 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:39px;
	position:absolute;
	left:332px;
	top:93px;
	font-family:Playfair Display;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e17_45 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_45 { 
	width:120px;
	height:0px;
	position:absolute;
	left:460px;
	top:182px;
}
.e17_46 { 
	width:260px;
	height:405px;
	position:absolute;
	left:80px;
	top:232px;
}
.e17_47 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_48 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_49 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_50 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_51 { 
	width:260px;
	height:405px;
	position:absolute;
	left:390px;
	top:232px;
}
.e17_52 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_53 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_54 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_55 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_56 { 
	width:260px;
	height:405px;
	position:absolute;
	left:700px;
	top:232px;
}
.e17_57 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_58 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_59 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_60 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_61 { 
	width:1920px;
	height:600px;
	position:absolute;
	left:0px;
	top:934px;
}
.e17_62 { 
	background-color:rgba(0, 0, 0, 1);
	width:1040px;
	height:600px;
	position:absolute;
	left:880px;
	top:0px;
}
.e17_63 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 0.5);
	width:880px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/rectangle_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_64 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:39px;
	position:absolute;
	left:1212px;
	top:100px;
	font-family:Playfair Display;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e17_65 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_65 { 
	width:120px;
	height:0px;
	position:absolute;
	left:1340px;
	top:179px;
}
.e17_66 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_66 { 
	width:311px;
	height:75px;
	position:absolute;
	left:1245px;
	top:453px;
}
.e17_67 { 
	color:rgba(255, 255, 255, 1);
	width:255px;
	height:23px;
	position:absolute;
	left:28px;
	top:12px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:10;
}
.e17_68 { 
	color:rgba(255, 255, 255, 1);
	width:471px;
	height:173px;
	position:absolute;
	left:1165px;
	top:219px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e17_69 { 
	width:1920px;
	height:1289px;
	position:absolute;
	left:0px;
	top:2264px;
}
.e17_70 { 
	background-color:rgba(0, 0, 0, 1);
	width:1920px;
	height:1289px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_71 { 
	color:rgba(255, 255, 255, 1);
	width:440px;
	height:48px;
	position:absolute;
	left:740px;
	top:120px;
	font-family:Playfair Display;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e17_72 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_72 { 
	width:120px;
	height:0px;
	position:absolute;
	left:900px;
	top:208px;
}
.e17_73 { 
	width:260px;
	height:405px;
	position:absolute;
	left:405px;
	top:289px;
}
.e17_74 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_75 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_76 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_77 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_78 { 
	width:260px;
	height:405px;
	position:absolute;
	left:405px;
	top:734px;
}
.e17_79 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_80 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_81 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_82 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_83 { 
	width:260px;
	height:405px;
	position:absolute;
	left:688px;
	top:289px;
}
.e17_84 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_85 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_86 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_87 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_88 { 
	width:260px;
	height:405px;
	position:absolute;
	left:688px;
	top:734px;
}
.e17_89 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_90 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_91 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_92 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_93 { 
	width:260px;
	height:405px;
	position:absolute;
	left:971px;
	top:289px;
}
.e17_94 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_95 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_96 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_97 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_98 { 
	width:260px;
	height:405px;
	position:absolute;
	left:971px;
	top:734px;
}
.e17_99 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_100 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_101 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_102 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_103 { 
	width:260px;
	height:405px;
	position:absolute;
	left:1254px;
	top:289px;
}
.e17_104 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_105 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_106 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_107 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_108 { 
	width:260px;
	height:405px;
	position:absolute;
	left:1254px;
	top:734px;
}
.e17_109 { 
	background-color:rgba(25.000000409781933, 27.000000290572643, 28.000000230968, 1);
	width:260px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_110 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:24px;
	position:absolute;
	left:0px;
	top:350px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e17_111 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:0px;
	top:384px;
	font-family:Playfair Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e17_112 { 
	width:215px;
	height:214px;
	position:absolute;
	left:23px;
	top:55px;
	background-image:url(../images/62050_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_113 { 
	width:1920px;
	height:362px;
	position:absolute;
	left:0px;
	top:934px;
}
.e17_114 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:1920px;
	height:362px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_115 { 
	color:rgba(255, 255, 255, 1);
	width:289px;
	height:48px;
	position:absolute;
	left:816px;
	top:60px;
	font-family:Playfair Display;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e17_116 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e17_116 { 
	width:120px;
	height:0px;
	position:absolute;
	left:900px;
	top:148px;
}
.e17_117 { 
	width:255px;
	height:94px;
	position:absolute;
	left:405px;
	top:188px;
	background-image:url(../images/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_118 { 
	width:255px;
	height:94px;
	position:absolute;
	left:690px;
	top:188px;
	background-image:url(../images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_119 { 
	width:255px;
	height:94px;
	position:absolute;
	left:975px;
	top:188px;
	background-image:url(../images/rectangle_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_120 { 
	width:255px;
	height:94px;
	position:absolute;
	left:1260px;
	top:188px;
	background-image:url(../images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_121 { 
	width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:1296px;
}
.e17_122 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 0.8500000238418579);
	width:1920px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_123 { 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	width:71px;
	height:21px;
	position:absolute;
	left:1180px;
	top:241px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_124 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:70px;
	height:41px;
	position:absolute;
	left:786px;
	top:152px;
}
.e17_125 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:30px;
	height:21px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_126 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:98px;
	height:41px;
	position:absolute;
	left:876px;
	top:152px;
}
.e17_127 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:58px;
	height:21px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_128 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:79px;
	height:41px;
	position:absolute;
	left:994px;
	top:152px;
}
.e17_129 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:39px;
	height:21px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_130 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:164px;
	height:41px;
	position:absolute;
	left:786px;
	top:213px;
}
.e17_131 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:124px;
	height:21px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_132 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:91px;
	height:41px;
	position:absolute;
	left:970px;
	top:213px;
}
.e17_133 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:51px;
	height:21px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_134 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:180px;
	height:41px;
	position:absolute;
	left:1375px;
	top:232px;
}
.e17_135 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:21px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:5;
}
.e17_136 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:32px;
	position:absolute;
	left:405px;
	top:80px;
	font-family:Playfair Display;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e17_137 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:32px;
	position:absolute;
	left:785px;
	top:80px;
	font-family:Playfair Display;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e17_138 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:32px;
	position:absolute;
	left:1165px;
	top:80px;
	font-family:Playfair Display;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e17_139 { 
	color:rgba(255, 255, 255, 1);
	width:350px;
	height:147px;
	position:absolute;
	left:405px;
	top:152px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_140 { 
	color:rgba(255, 255, 255, 1);
	width:350px;
	height:42px;
	position:absolute;
	left:1165px;
	top:152px;
	font-family:PT Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e17_141 { 
	background-color:rgba(255, 255, 255, 0.4000000059604645);
	width:210px;
	height:42px;
	position:absolute;
	left:1165px;
	top:231px;
}
.e17_142 { 
	width:1920px;
	height:50px;
	position:absolute;
	left:0px;
	top:1696px;
}
.e17_143 { 
	background-color:rgba(15.000000055879354, 15.000000055879354, 15.000000055879354, 1);
	width:1920px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_144 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:155px;
	height:16px;
	position:absolute;
	left:405px;
	top:17px;
	font-family:PT Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e17_145 { 
	color:rgba(208.24999898672104, 208.24999898672104, 208.24999898672104, 1);
	width:155px;
	height:16px;
	position:absolute;
	left:1360px;
	top:17px;
	font-family:PT Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
